.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("assets/BG\ Image.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}